.App {
  text-align: center;
  padding: 20px;
}

.food-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.food-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  width: 250px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.food-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

p {
  margin: 5px 0;
}
